<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- User Style -->
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header class="text-center">
      <ul class="list-inline user-ul">
        <% if(!currentUser) { %>
          <li>
            <a class="btn btn-default btn-sm" href="/sessions/new">Log In</a>
          </li>
          <li>
            <a class="btn btn-default btn-sm" href="/users/new">Register</a>
          </li>
        <% } else { %>
          <li>
            Welcome, <%= currentUser.username %>!
          </li>
          <li>
            <form class="" action="/sessions?_method=DELETE" method="POST">
              <input class="btn btn-default btn-sm" type="submit" value="Logout">
            </form>
          </li>
        <% } %>
      </ul>
			<h1>Edit Team</h1>
			<nav>
				<ul class="list-inline">
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/teams/<%= team.id %>"><%= team.name %>-Home</a>
					</li>
				</ul>
			</nav>
		</header>
    <hr>
		<main class="container">
      <form action="/teams/<%= team._id %>?_method=PUT" method="POST">
        <div class="form-group">
          <label for="name">Team Name</label>
          <input class="form-control" type="text" name="name" value="<%= team.name %>">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="email" name="email" value="<%= team.email %>">
        </div>
        <div class="row">
          <div class="col-xs-4 form-group">
            <label for="wins">Wins</label>
            <input class="form-control" type="number" name="wins" value="<%= team.wins %>">
          </div>
          <div class="col-xs-4 form-group">
            <label for="losses">Losses</label>
            <input class="form-control" type="number" name="losses" value="<%= team.losses %>">
          </div>
          <div class="col-xs-4 form-group">
            <label for="ties">Ties</label>
            <input class="form-control" type="number" name="ties" value="<%= team.ties %>">
          </div>
        </div>
        <div class="form-group">
          <input class="form-control btn btn-default" type="submit" value="Update Team">
        </div>
      </form>
    </main>
  </body>
</html>
