<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- User Style -->
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header class="text-center">
      <div class="row">
        <div class="logo-div col-sm-4 header-div">
          <h4><a href="/">League Manager</a></h4>
        </div>
        <div class="col-sm-4">
          <h1>Edit Team</h1>
    			<nav>
    				<ul class="list-inline">
    					<li>
    						<a href="/leagues">Leagues</a>
    					</li>
    					<li>
    						<a href="/teams">Teams</a>
    					</li>
    				</ul>
    			</nav>
        </div>
        <div class="col-sm-4 header-div">
          <ul class="list-inline">
            <% if(!currentUser) { %>
              <li>
                <a class="btn btn-default btn-sm" href="/sessions/new">Log In</a>
              </li>
              <li>
                <a class="btn btn-default btn-sm" href="/users/new">Register</a>
              </li>
            <% } else { %>
              <li>
                Welcome, <%= currentUser.username %>!
              </li>
              <li>
                <form class="" action="/sessions?_method=DELETE" method="POST">
                  <input class="btn btn-default btn-sm" type="submit" value="Logout">
                </form>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
		</header>
    <hr>
		<main class="container">
      <form action="/teams/<%= team._id %>?_method=PUT" method="POST">
        <div class="form-group">
          <label for="name">Team Name</label>
          <input class="form-control" type="text" name="name" value="<%= team.name %>" required="true">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="email" name="email" value="<%= team.email %>" required="true">
        </div>
        <div class="row">
          <div class="col-xs-4 form-group">
            <label for="wins">Wins</label>
            <input class="form-control" type="number" name="wins" value="<%= team.wins %>" required="true">
          </div>
          <div class="col-xs-4 form-group">
            <label for="losses">Losses</label>
            <input class="form-control" type="number" name="losses" value="<%= team.losses %>" required="true">
          </div>
          <div class="col-xs-4 form-group">
            <label for="ties">Ties</label>
            <input class="form-control" type="number" name="ties" value="<%= team.ties %>" required="true">
          </div>
        </div>
        <div class="form-group">
          <input class="form-control btn btn-default" type="submit" value="Update Team">
        </div>
      </form>
      <hr>
      <div class="text-center">
        <form action="/teams/<%= team._id %>?_method=DELETE" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete Team"/>
        </form>
      </div>
    </main>
  </body>
</html>
