<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- User Style -->
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header class="text-center">
      <ul class="list-inline user-ul">
        <% if(!currentUser) { %>
          <li>
            <a class="btn btn-default btn-sm" href="/sessions/new">Log In</a>
          </li>
          <li>
            <a class="btn btn-default btn-sm" href="/users/new">Register</a>
          </li>
        <% } else { %>
          <li>
            Welcome, <%= currentUser.username %>!
          </li>
          <li>
            <form class="" action="/sessions?_method=DELETE" method="POST">
              <input class="btn btn-default btn-sm" type="submit" value="Logout">
            </form>
          </li>
        <% } %>
      </ul>
			<h1><%= team.name %></h1>
			<nav>
				<ul class="list-inline">
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/teams">Teams</a>
					</li>
				</ul>
			</nav>
		</header>
    <hr>
		<main class="container">
      <section>
        <table class="table">
          <thead>
            <tr>
              <th>Wins</th>
              <th>Losses</th>
              <th>Ties</th>
              <th>Points</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= team.wins %></td>
              <td><%= team.losses %></td>
              <td><%= team.ties %></td>
              <td><%= team.points %></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="text-center">
        <h5>Contact: <%= team.email %></h5>
      </section>
      <% if(currentUser) { %>
        <section class="text-center">
          <a class="btn btn-default" href="/teams/<%= team._id %>/edit">Edit Team</a>
          <hr>
  		    <form action="/teams/<%= team._id %>?_method=DELETE" method="POST">
  		        <input class="btn btn-danger" type="submit" value="Delete Team"/>
  		    </form>
  			</section>
      <% } %>
    </main>
  </body>
</html>
