<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- User Style -->
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header class="text-center">
      <div class="row">
        <div class="logo-div col-sm-4 header-div">
          <h4><a href="/">League Manager</a></h4>
        </div>
        <div class="col-sm-4">
          <h1>Schedule a Game</h1>
          <h4><%= league.name %> - <%= league.sport %></h4>
    			<nav>
    				<ul class="list-inline">
    					<li>
    						<a href="/leagues">Leagues</a>
    					</li>
    					<li>
    						<a href="/teams">Teams</a>
    					</li>
    				</ul>
    			</nav>
        </div>
        <div class="col-sm-4 header-div">
          <ul class="list-inline">
            <% if(!currentUser) { %>
              <li>
                <a class="btn btn-default btn-sm" href="/sessions/new">Log In</a>
              </li>
              <li>
                <a class="btn btn-default btn-sm" href="/users/new">Register</a>
              </li>
            <% } else { %>
              <li>
                Welcome, <%= currentUser.username %>!
              </li>
              <li>
                <form class="" action="/sessions?_method=DELETE" method="POST">
                  <input class="btn btn-default btn-sm" type="submit" value="Logout">
                </form>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
		</header>
    <hr>
		<main class="container">
      <form action="/games" method="POST">
        <input type="hidden" name="leagueId" value="<%= league._id %>">
        <div class="form-group">
          <label for="date">Date</label>
          <input class="form-control" type="date" name="date" placeholder="Date" required="true">
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <input class="form-control" type="text" name="location" placeholder="Location" required="true">
        </div>
        <div class="row">
          <div class="col-xs-6 form-group">
            <label for="home">Home Team</label>
            <select class="form-control" name="home">
              <% for(var i = 0; i < league.teams.length; i++) { %>
                <option value="<%= league.teams[i]._id %>">
                  <%= league.teams[i].name %>
                </option>
              <% } %>
            </select>
          </div>
          <div class="col-xs-6 form-group">
            <label for="homeScore">Home Score</label>
            <input class="form-control" type="number" name="homeScore" placeholder="Home Score">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 form-group">
            <label for="away">Away Team</label>
            <select class="form-control" name="away">
              <% for(var i = 0; i < league.teams.length; i++) { %>
                <option value="<%= league.teams[i]._id %>">
                  <%= league.teams[i].name %>
                </option>
              <% } %>
            </select>
          </div>
          <div class="col-xs-6 form-group">
            <label for="homeScore">Away Score</label>
            <input class="form-control" type="number" name="awayScore" placeholder="Away Score">
          </div>
        </div>
        <div class="form-group">
          <input class="form-control btn btn-default" type="submit" value="Schedule Game">
        </div>
      </form>
    </main>
  </body>
</html>
