<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- User Style -->
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header class="text-center">
      <div class="row">
        <div class="logo-div col-sm-4 header-div">
          <h4><a href="/">League Manager</a></h4>
        </div>
        <div class="col-sm-4">
          <h1><%= league.name %></h1>
          <h4><%= league.sport %> League</h4>
    			<nav>
    				<ul class="list-inline">
    					<li>
    						<a href="/leagues">Leagues</a>
    					</li>
    					<li>
    						<a href="/teams">Teams</a>
    					</li>
    				</ul>
    			</nav>
        </div>
        <div class="col-sm-4 header-div">
          <ul class="list-inline">
            <% if(!currentUser) { %>
              <li>
                <a class="btn btn-default btn-sm" href="/sessions/new">Log In</a>
              </li>
              <li>
                <a class="btn btn-default btn-sm" href="/users/new">Register</a>
              </li>
            <% } else { %>
              <li>
                Welcome, <%= currentUser.username %>!
              </li>
              <li>
                <form class="" action="/sessions?_method=DELETE" method="POST">
                  <input class="btn btn-default btn-sm" type="submit" value="Logout">
                </form>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
		</header>
    <hr>
    <main class="container">
      <!-- Standings -->
      <section class="text-center">
        <h3>Standings</h3>
      </section>
      <section>
        <table class="table">
          <thead>
            <tr>
              <th>Team</th>
              <th>Wins</th>
              <th>Losses</th>
              <th>Ties</th>
              <th>Points</th>
            </tr>
          </thead>
          <tbody>
          <%# Sort teams by points %>
          <% league.teams = league.teams.sort(function(a, b) { %>
          <%   return parseFloat(b.points) - parseFloat(a.points); %>
          <% }); %>
          <% for(var i = 0; i < league.teams.length; i++) { %>
            <tr>
              <td>
                <a href="/teams/<%= league.teams[i]._id %>">
                  <%= league.teams[i].name %>
                </a>
              </td>
              <td><%= league.teams[i].wins %></td>
              <td><%= league.teams[i].losses %></td>
              <td><%= league.teams[i].ties %></td>
              <td><%= league.teams[i].points %></td>
            </tr>
          <% } %>
          </tbody>
        </table>
      </section>
      <!-- Schedule -->
      <section class="text-center">
        <h3>Schedule</h3>
      </section>
      <section>
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Location</th>
              <th>Home Team</th>
              <th>Result</th>
              <th>Away Team</th>
            </tr>
          </thead>
          <tbody>
          <%# Sort teams by points %>
          <% league.teams = league.teams.sort(function(a, b) { %>
          <%   return parseFloat(b.points) - parseFloat(a.points); %>
          <% }); %>
          <% for(var i = 0; i < league.games.length; i++) { %>
            <tr>
              <td><a href="/games/<%= league.games[i]._id %>"><%= league.games[i].date %></a></td>
              <td><%= league.games[i].location %></td>
              <td><%= league.games[i].home.name %></td>
              <td><%= league.games[i].homeScore %> - <%= league.games[i].awayScore %></td>
              <td><%= league.games[i].away.name %></td>
            </tr>
          <% } %>
          </tbody>
        </table>
      </section>
      <% if(currentUser) { %>
        <hr>
        <section class="text-center">
          <div class="btn-group" role="group" aria-label="...">
            <a class="btn btn-default" href="/games/new/<%= league._id %>">Schedule a Game</a>
            <a class="btn btn-default" href="/leagues/<%= league.id %>/edit">Edit League</a>
          </div>
        </section>
      <% } %>
    </main>
  </body>
</html>
