<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- User Style -->
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header class="text-center">
      <ul class="list-inline user-ul">
        <% if(!currentUser) { %>
          <li>
            <a class="btn btn-default btn-sm" href="/sessions/new">Log In</a>
          </li>
          <li>
            <a class="btn btn-default btn-sm" href="/users/new">Register</a>
          </li>
        <% } else { %>
          <li>
            Welcome, <%= currentUser.username %>!
          </li>
          <li>
            <form class="" action="/sessions?_method=DELETE" method="POST">
              <input class="btn btn-default btn-sm" type="submit" value="Logout">
            </form>
          </li>
        <% } %>
      </ul>
			<h1><%= league.name %></h1>
			<h4><%= league.sport %></h4>
			<nav>
				<ul class="list-inline">
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/leagues">Leagues</a>
					</li>
				</ul>
			</nav>
		</header>
    <hr>
    <main class="container">
      <section class="text-center">
        <h3>Standings</h3>
      </section>
      <section>
        <table class="table">
          <thead>
            <tr>
              <th>Team</th>
              <th>Wins</th>
              <th>Losses</th>
              <th>Ties</th>
              <th>Points</th>
            </tr>
          </thead>
          <tbody>
          <%# Sort teams by points %>
          <% league.teams = league.teams.sort(function(a, b) { %>
          <%   return parseFloat(b.points) - parseFloat(a.points); %>
          <% }); %>
          <% for(var i = 0; i < league.teams.length; i++) { %>
            <tr>
              <td>
                <a href="/teams/<%= league.teams[i]._id %>">
                  <%= league.teams[i].name %>
                </a>
              </td>
              <td><%= league.teams[i].wins %></td>
              <td><%= league.teams[i].losses %></td>
              <td><%= league.teams[i].ties %></td>
              <td><%= league.teams[i].points %></td>
            </tr>
          <% } %>
          </tbody>
        </table>
      </section>
      <% if(currentUser) { %>
        <section class="text-center">
          <a class="btn btn-default" href="/leagues/<%= league.id %>/edit">Edit League</a>
          <hr>
          <form class="" action="/leagues/<%= league.id %>?_method=DELETE" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete League">
          </form>
        </section>
      <% } %>
    </main>
  </body>
</html>
